---
import Base from '@layouts/Base.astro';
import { tagInURL } from '@lib/tagInURL';
import { getAllMusic } from '@lib/getAllMusic';
import ArticlesList from '@components/ArticlesList.astro';

export async function getStaticPaths() {
	const artistMap = await getAllMusic();

	return [...artistMap.entries()].map(([key, tagPosts]) => ({
		params: {
			tag: tagInURL(key),
		},
		props: { posts: tagPosts, name: key },
	}));
}

const { posts, name } = Astro.props;

const title = `${name}: ${posts.length}`;

---

<Base title={title}>
	<article>
		<h1>{title}</h1>
		<p>Below is a list of all posts that share the same artist in the “Current Music” field.</p>
		<ArticlesList posts={posts} />
		<hr />
		<p>You can also look at a <a href="/music">list of all artists</a>.</p>
	</article>
</BlogPost>
