---
import { getCollection } from 'astro:content';
import FormattedDate from '@components/FormattedDate.astro';
import Link from '@components/mdx/Link.astro';
import { betterSlug } from '@lib/betterSlug';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const years: Map<number, Map<string, Array<(typeof posts)[number]>>> = new Map();
for (const post of posts) {
	const date = new Date(post.data.pubDate);
	const year = date.getFullYear();
	const monthName = date.toLocaleDateString('en', {
		month: 'long',
	});
	let months = years.get(year);
	if (!months) {
		months = new Map();
		years.set(year, months);
	}
	let month = months.get(monthName);
	if (!month) {
		month = [];
		months.set(monthName, month);
	}
	month.push(post);
}

---

{
	[...years.entries()].map(([yearName, year]) => (<>
		<h3>{yearName}</h3>
		{
			[...year.entries()].map(([monthName, month]) => (<>
				<h4>{monthName}</h4>
				<ol reversed>
					{
						month.map((post) => (
							<li value={post.data.pubDate.getDate()}>
								<Link href={`/${betterSlug(post.slug)}/`}>{post.data.title}</Link>
							</li>
						))
					}
				</ol>
			</>))
		}
	</>))
}
