---
import type { CollectionEntry } from 'astro:content';
import Base from '@layouts/Base.astro';
import BandCamp from '@components/BandCamp.astro';
import FormattedDate from '@components/FormattedDate.astro';
import FitToWidth from '@components/FitToWidth.astro';
import { tagInURL } from '@lib/tagInURL';
import { SITE_TITLE } from '@consts';
import { getAllTags } from '@lib/getAllTags';
import { getMusicTag } from "@lib/getMusicTag";
import { getAllMusic } from '@lib/getAllMusic';

type Props = Partial<CollectionEntry<'blog'>['data']>;

const {
	title = SITE_TITLE,
	fancyTitle: fancyTitleProp,
	pubDate,
	eventDate,
	updatedDate,
	heroImage,
	current,
	bandcamp,
	tags = [],
} = Astro.props;
const { pathname } = Astro.url;

const allTags = await getAllTags();
const allMusic = await getAllMusic();

const fancyTitle =
	typeof fancyTitleProp === 'boolean' && fancyTitleProp
		? title
		: fancyTitleProp;

---
<Base bodyClass="h-entry" {...Astro.props}>
	<article class="e-content scroll-markers-content">
		{heroImage && <img width={720} height={360} src={heroImage} alt="" />}
		{pathname !== '/' ? <>
			<h1 class="p-name">{fancyTitle ? fancyTitle.split('|').map(part => <><FitToWidth set:html={part} /> </>) : title}</h1>
			<dl>
				{eventDate ? (<>
					<dt>Happened on:</dt><dd><FormattedDate date={eventDate} /></dd>
				</>) : null }
				{pubDate ? (<>
					<dt>Published on:</dt>
					<dd><a
						class="u-url u-uid is-inherited"
						href={Astro.url}
						aria-description="This post’s permalink."
					><FormattedDate class="dt-published" date={pubDate} /></a></dd>
				</>) : null }
				{updatedDate ? (<>
					<dt>Last updated on:</dt><dd><FormattedDate class="dt-updated" date={updatedDate} /></dd>
				</>) : null }
				{tags.length ?(<>
					<dt>Categories:</dt>
					<dd>{tags.map((tag: string, index: number) => {
						const tagCount = allTags.get(tag)?.length;
						return (
							<>
								{index !== 0 ? ', ' : null}
								{tagCount && tagCount > 1
									? <a href={`/tags/${tagInURL(tag)}`} class="p-category">{tag}<sup class="nou"><span>&VeryThinSpace;{tagCount}</span></sup></a>
									: <span class="p-category">{tag}</span>
								}
							</>
						)
					})}</dd>
				</>) : null }
				{current ? Object.entries(current).filter(([_, value]) => value !== '').map(([key, _value]) => {
					let value = _value as string;
					const separator = <><span class="nowrap"> —</span> </>;
					if (key === 'music') {
						const [musicArtist, musicValue] = getMusicTag(value) || [];
						if (musicArtist) {
							let musicTrack = musicValue;
							if (musicTrack && bandcamp?.track) {
								musicTrack = (<BandCamp
									isInDetails
									id={bandcamp.track}
									link={bandcamp.link}
									artist={musicArtist}
									track={musicTrack}
								/>)
							}

							if (musicTrack && bandcamp && !bandcamp.track) {
								musicTrack = <a href={bandcamp?.link}>{musicTrack}</a>;

							}

							const artistCount = allMusic.get(musicArtist)?.length;
							if (artistCount && artistCount > 1) {
								value = (<>
									<a href={`/music/${tagInURL(musicArtist)}`}>{musicArtist}</a>{musicTrack ? <>{separator}{musicTrack}</> : ''}
								</>);
							} else if (musicTrack) {
								value = <>{musicArtist}{separator}{musicTrack}</>;
							} else {
								value = <>{musicArtist}</>;
							}
						}
					}
					return (<>
						<dt>Current {key}:</dt>
						<dd>{value}</dd>
					</>)
				}) : null}
			</dl>
		</> : null}
		<slot />
	</article>
</Base>
